h1 {
    margin-top: 1%;
}

img {
    max-width: 100%;
}

body {
    background-image: radial-gradient(forestgreen, black 140%);
}

.aboutContainer {
    position: relative;
    font-size: larger;
    margin-top: -0.5%;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.card {
    margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
    min-width: 280px !important;
    perspective: 700px;
}
.card-flip {
    position: relative;
    align-items: center;
    min-width: 270px;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background-image: linear-gradient(to bottom, #9f4045, #9f4045 20%, lightgrey 15%);
    border: 2px solid black;
    border-radius: 15px;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    width: 95%;
    z-index: 1;
}

.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
    width: 100%;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.front.card-block {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    /*justify-content: center;*/
}

.back.card-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    align-items: center;
}

p.card-text {
    text-align: left;
    color: black;
}

h4.card-title {
    color: white;
}

.card-body img {
    max-height: 45px;
}